@font-face {
    font-family: "fanclin_gotic_medium";
    src: url("../fonts/fanclin_gotic/fanclin_gotic_medium/fanclin_gotic_medium.eot");
    src: url("../fonts/fanclin_gotic/fanclin_gotic_medium/fanclin_gotic_medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fanclin_gotic/fanclin_gotic_medium/fanclin_gotic_medium.woff") format("woff"),
    url("../fonts/fanclin_gotic/fanclin_gotic_medium/fanclin_gotic_medium") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'century_gothic';
  src: url('../fonts/century_gothic/century_gothic.eot');
  src: url('../fonts/century_gothic/century_gothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/century_gothic/century_gothic.woff2') format('woff2'),
       url('../fonts/century_gothic/century_gothic.woff') format('woff'),
       url('../fonts/century_gothic/century_gothic.ttf') format('truetype'),
       url('../fonts/century_gothic/century_gothic.svg#century_gothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'century_gothic_bold';
  src: url('../fonts/century_gothic_bold/century_gothic_bold.eot');
  src: url('../fonts/century_gothic_bold/century_gothic_bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/century_gothic_bold/century_gothic_bold.woff2') format('woff2'),
       url('../fonts/century_gothic_bold/century_gothic_bold.woff') format('woff'),
       url('../fonts/century_gothic_bold/century_gothic_bold.ttf') format('truetype'),
       url('../fonts/century_gothic_bold/century_gothic_bold.svg#century_gothic_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #ccc;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}
body, html{
    background-color: #5a4e3a;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'century_gothic';
}
 html{
    background-color: #000;
 }

.img_background{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* ***************************************
    КАРУСЕЛЬ!!!!
** ***************************************/
.img_to_background{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#carusel{
    width: 90%;
    height: 84%;
    overflow: hidden;
    position: absolute;
    top: 18%;
    left: 5%;
    opacity: 0;
}

#carusel #container_wrapper .container{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
#carusel #container_wrapper .container.display{
    -webkit-filter: grayscale(100%) sepia(50%);
       -moz-filter: grayscale(100%) sepia(50%);
        -ms-filter: grayscale(100%) sepia(50%);
         -o-filter: grayscale(100%) sepia(50%);
/*            filter: grayscale(100%) sepia(20%);  */    /*FireFox тормозит!!!*/
    pointer-events: auto;
    cursor: pointer;
}
#carusel #container_wrapper .container.active.display{
    -webkit-filter: none;
       -moz-filter: none;
        -ms-filter: none;
         -o-filter: none;
/*            filter: none;  */                          /*FireFox тормозит!!!*/
}
#carusel #container_wrapper .content{
    width: 100%;
    height: 100%;
    background-size: cover;
}
#carusel #container_wrapper .img_wrapper, .img_reflect{
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #aaa;
}
#carusel #container_wrapper .container.display .img_wrapper, #carusel #container_wrapper .container.display .img_reflect{
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #999;
}

#carusel #container_wrapper .container.display.active .img_wrapper, #carusel #container_wrapper .container.display.active .img_reflect{
    border: 3px solid #fff;
}

#carusel #container_wrapper .img_reflect{
    -webkit-transform: scale(1, -1) translateY(2%);
    transform: scale(1, -1) translateY(0%);
    opacity: 0.4;
   -webkit-mask-position: 0 0;
    -webkit-mask-size: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0.00,  rgba(0,0,0,0)),
        color-stop(0.70,  rgba(0,0,0,0)),
        color-stop(1.00,  rgba(0,0,0,1))
    );
/*
    -moz-mask-image: -moz-linear-gradient(
        top,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 100%);
    -moz-mask-position: 0 0;
    -moz-mask-size: 100%;*/
display: none;
}

#carusel #container_wrapper .img_wrapper img, .img_reflect img{
    height: 100%;
}
#carusel #container_wrapper.img_reflect img{
    position:absolute;
}
#next, #prev{
    position: absolute;
    top: 0%;
    opacity: 0.5;
    transition: ease-in 0.2s;
    cursor: pointer;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 40px;
}
#prev{
    left: 1%;
}
#next{
    right: 1%;
}
#next:hover, #prev:hover{
    opacity: 0.9;
}
#element_sign{
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    width: 49%;
    height: 11.85%;
/*    background-color: #685c5a;  */
    color: #d5d1ce;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);   */
}
#element_sign span{

}
#seen{
    position: absolute;
    top: 87%;
    right: 14%;
    width: 28%;
    color: #ecebeb;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'century_gothic_bold';
    z-index: 100;
    cursor: pointer;
}
#numbers{
    position: absolute;
    top: 87.5%;
    right: 5%;
    color: #d5d1ce;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: 'century_gothic_bold';
}
#carusel .container figcaption{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: left;
}
/* ***************************************
    КАРУСЕЛЬ!!!!
** ***************************************/
#main_background{
    width: 100%;
    height: 100%;
    background-color: #5a4e3a;
    background-size: cover;
}

/* ***************************************
    ПОДМЕНЮ!!!!
** ***************************************/
#sub_menu{
    position: absolute;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 200;
    background-size: cover;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: left;
    align-items: center;
    background-color: #2e2e2e;
    color: #d5d1ce;
    font-size: 22px;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.3);
    transform: translate(-110%, 0px);
}
#sub_item_wrapper{
    margin-left: 11.5%;
    width: 88%;
/*    margin-top: 17%;  */
    height: 66%;
/*    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: no-wrap;*/
    overflow: hidden;

}


#sub_item_wrapper article{
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
}
#sub_item_wrapper figure{
    height: 100%;
    border: 2px solid #d5d1ce;
    background-size: cover;
    box-shadow: inset 1px 1px 6px rgba(0,0,0,0.5);
}
#sub_item_wrapper figcaption{
    margin-left: 5%;
    align-self: flex-end;
    height: 18%;
    color: #fff;
    opacity: 0.7;
}
#bt_close{
    position: absolute;
    right: 2%;
    height: 100%;
	top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#bt_close span:nth-child(1){
    font-size: 23px;
    text-transform: none;
    font-family: 'century_gothic_bold';
    color: #a0a0a0;
    padding-right: 8%;
}
#bt_close span:nth-child(2){
    height: 100%;
}
#sub_item_wrapper h1{
    position: absolute;
    top: 5%;
    width: 100%;
    left: 0px;
    font-size: 33px;
    font-weight: normal;
    text-align: center;
}
.hidden{
    position: absolute;
    top: -200%;
    display: none;
}

/* ***************************************
    ПОДМЕНЮ!!!!
** ***************************************/
.topic_sign{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 11.85%;
/*    background-color: #685c5a;   */
    color: #cbbba1;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 15px;
/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); */
}
.topic_sign span:nth-child(2){
  font-family: 'century_gothic_bold';
  letter-spacing: 10px;
}
.sub_topic_sign{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 11.85%;
    background-color: #575d6c;
    color: #eee4d5;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    text-align: center;
	font-family: 'Segoe Print';
}
.sub_topic_sign span{
    width: 70%;
}
.next_sign{
  font-family: 'century_gothic_bold';
    font-size: 20px;
    color: #e3dbd2;
    position: relative;
    margin: 0 auto;
    border: 2px solid #e3dbd2;
    box-sizing: border-box;
    width: 20%;
    padding: 1.5% 0%;
    position: absolute;
    bottom: 4%;
    text-align: center;
    text-transform: uppercase;
	left: 14%;
}
